RewriteEngine On

# بررسی می‌کنیم که درخواست وارد پوشه admin شده باشد
RewriteCond %{REQUEST_URI} ^/resaneh/admin/

# اگر درخواست برای login.php نباشد، به login.php هدایت می‌شود
RewriteCond %{REQUEST_URI} !^/resaneh/admin/login.php$

# بررسی اینکه آیا سشن 'logged_in' وجود دارد یا خیر
RewriteCond %{HTTP_COOKIE} !^.*logged_in=true.*$ [NC]

# هدایت تمام درخواست‌ها به login.php
RewriteRule ^.*$ /resaneh/admin/login.php [L]
